{{#> layout/layout}}
        <article class="post_block ">
            <h1 class="contact__form_title">Contact Us</h1>
                <div class="post__content contact__form_content">
                    <p class="text__post">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet.
                        Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque
                        turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id 
                        nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum
                        quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. 
                        Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt
                        sit amet, pretium et augue.
                     </p>
                </div>
            
            <form class="contact__form"> 
                <input class="form_inf" type="text" name="name" placeholder="Your Name" >
                <input class="form_inf" type="email" name="email" placeholder="Email" >
                <input class="form_text" type="text" name="subject" placeholder="Subject" >
                <textarea class="form_text" name="message" placeholder="Your Message" rows="6" ></textarea>
            </form>
            <a class="read-more__link link_send">send message</a>
            
        </article>
{{/layout/layout}}