.menu-bar {
    position: absolute;
    top: 20px;    
    left: 50%;
    height: 14px;
    margin-left: -10px;
}

.bars {
    display: block;
    width: 20px;
    height: 3px;    
    background-color: #333;
    box-shadow: 0 5px 0 #333, 0 10px 0 #333;
}

.menu {
    display: none; 
    width: 100%;
    padding: 30px 10px 50px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
}
.menu ul {
    margin-bottom: 0;
}
.menu a {
    color: #333; 
    text-transform: uppercase;
    opacity: 0.8;
}
.menu a:hover {
    text-decoration: none;
    opacity: 1;
}
a:visited 
{
    text-decoration: none; 
    decoration: none; 
}

body{
   background-color: #f7f9fc;
   /*width: 1400px;*/
   margin-top: 81px;
}
.header{
    position: relative;
    max-width: 953px;
    width: 100%;
    margin: 0 auto;
}
.nav_burger{
    display: none;
}
.nav_bar{
    list-style: none;
    margin-left: 525px;
    margin-top: 3px;
    padding: 0px;
}
.nav_item{
    display: inline-block;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: right;
    margin-left: 40px;
    color: #333333;
}
.disabled{
    pointer-events: none;
    cursor: default;
    color: #bdbdbd;
}
.nav_item:first-child{
    margin: 0;
}
.nav_item:last-child{
    margin: 0 0 0 27px;;
    background-image: url('../images/Search.png');
    background-repeat: no-repeat;
    background-position:center;
    background-color: #f7f9fc;
}
.nav_item:last-child:active {
    background-image: url('../images/hover.png');
    background-repeat: no-repeat;
    background-position:center;
}
.nav_link{
    text-decoration: none;
    position: relative;
    cursor: default;
     color: #333333;
}
.nav_link:hover:after{   
    left: 0;
}
.nav_link:after{
    position: absolute;
    content: '';
    left: 100%;
    right: 0;
    bottom: -8px;
    height: 3px;
    background-color: #5c6bc0;
    transition: left 0.3s ease-in-out;
}
.nav_link:active{
    color: #5c6bc0;
}
.nav_link:active:after{   
    background-color: #f7f9fc;
}
.search{
   width: 16px;
   height: 15px;
}
.search_footer{
   width: 33px;
   height: 32px;
}



.posts{

   padding: 0px;
   
}
.post_block{
    display: grid;
    background-color: #ffffff;
    box-shadow: 0 0 30px 8px rgba(236,238,240, 1);
    margin: 49px auto;
    max-width: 953px;
    width: 100%;
}

.post1{
    margin-top: 79px;
}
.post3{
    margin-bottom: 115px;
}
.category{
    cursor: default;
    position: relative;
    height: 24px;
    padding: 8px 0 0 11px;
    margin-top: 20px;
    background-color: #5c6bc0;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    transition: padding 0.3s ease-in-out;
}
.category:hover{
    padding: 8px 10px 0 21px;
    background-color: #6b79c6;
}
.category:active{
    background-color: #5c6bc0;
}
.category_travel{
    margin-left: 877px;
    width: 77px;
}
.category_observe{
    margin-left: 864px;
    margin-top: 16px;
    width: 90px;
}
.category_reflect{
    margin-left: 870px;
    width: 84px;
}
.data_post{
    position: relative;
    margin: 5px 0 0 10%;
    font-size: 14px;
    color: #bdbdbd;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.title_post{
    position: relative;
    font-size: 40px;
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: 13px 100px 0 97px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.title_post:after{
    content: '';
    position: absolute;
    width: 757px;
    height: 3px;
    bottom: -45px;
    left: 0px;
    background-color: #eeeeee;
}
.post__content{
    margin: 78px 119px 0 98px;
}
.text__post{
  
    margin: 0 0 18px 1px;
    font-size: 17px;
    line-height: 30px;
    color: #333333;
    font-family: 'Lato', sans-serif;  
    word-spacing: 0.5px;
    
}
.post_footer {
    position: relative;
    margin: 45px 97px 0 65px;
    max-width: 810px;
    width: 100%;
}
.read-more__link{
    cursor: default;
    font-size: 22px;
    text-transform: uppercase;
    color: #5c6bc0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-top: -5px;
    padding: 19px 32px 19px 32px;
    border: 1px solid #ffffff;
}
.read-more__link:hover{
    border: 1px solid #f1f1f1;
}
.read-more__link:active{
    border: 1px solid #7c89cc;
}
.hashtags_post{
    list-style: none;
    float: right;
    padding: 0;
}
.hashtag_item{
    display: inline-block;
    font-size: 15px;
    font-family: 'Lato', sans-serif; 
    padding: 0 0 0 8px;
    color: #bfbfbf;
}
.hashtag_item:first-child{
    padding: 0;
}
.hashtag_item:hover{
    color: #6775c4;
}
.hashtag_item:active{
    color: #6775c4;
}
.hashtag_link{
    text-decoration: none;
    position: relative;
    cursor: default;
    
}
.hashtag_link:after{
    position: absolute;
    content: '';
    left: 100%;
    right: 0;
    bottom: 1px;
    height: 1px;
    background-color: #8490d0;
    transition: left 0.3s ease-in-out;
}
.hashtag_link:hover:after{   
    left: 10px;    
}
.hashtag_link:active:after{
    background-color: #ffffff;   
}

.post_img_observe{
    position: relative;

}
.post_img_observe:hover:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 5px;
    background-color: rgb(0,0,0); 
    opacity: 0.3;
}
.data_observe{
    margin-top: -5px;;
}
.text__post_italics{
    font-size: 23.5px;
    line-height: 38px;
    color: #808080;
    font-family: 'Lato', sans-serif; 
    font-style: italic;
    margin-bottom: 27px;
    word-spacing: 2.4px;
    letter-spacing: 0.4px;
}

.post_img{
    float: left;
    margin-right: 12px;
    margin-bottom: 35px;
}
.text__post_margin-bottom{
    margin-bottom: 13px;
}
.text_dec{
    position: relative;
}
.text_dec:after{
    content: '';
    position: absolute;
    background-color: #5c6bc0;
    left: 0px;
    right: 0px;
    bottom: -1px;
    height: 1px;
}
.text_link{
    text-decoration: none;
    color: #5c6bc0;
}
.text__post_selected{
    font-size: 20px;
    line-height: 30px;
    color: #9f9f9f;
    font-family: 'Lato', sans-serif;
    margin: 21px 0 27px 28px;
    position: relative;
}
.text__post_selected:before{
    content: '';
    left: -26px;
    top: 1px;
    bottom: 1px;
    width: 4px;
    background-color: #eeeeee;
    position: absolute;
}


.footer {
    height: 572px;
    max-width: 2500px;
    width: 100%;
    background-color: #5c6bc0;
}
.img__footer{
    margin: 68px 0 0 43%;
}
.nav_bar_footer{
    margin: 52px 0 0 33%;
}
.nav_footer_item{
    vertical-align: middle;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: right;
    margin-left: 13px;
    color: #ffffff;
}
.nav_footer_item:first-child{
    margin: 0;
    color: #9da6d9;
}
.nav_footer_item:nth-child(3){
    margin-left: 46px;
}
.nav_footer_item:nth-child(4){
    margin-left: 49px;
}
.nav_footer_item:last-child{
    margin: 0 0 0 33px;;
    background-image: url('../images/Search (1).png');
    background-repeat: no-repeat;
    background-position:center;
    background-color: #5c6bc0;
}
.nav_footer_item:last-child:hover{
    background-color: #5360ac;
}
.nav_link_footer{
    text-decoration: none;
    position: relative;
    cursor: default;
}
.nav_link_footer:hover:after{   
    left: 0;
}
.nav_link_footer:after{
    position: absolute;
    content: '';
    left: 100%;
    right: 0;
    bottom: -5px;
    height: 1px;
    background-color: #ffffff;;
    transition: left 0.3s ease-in-out;
}
.nav_link_footer:active{
    color: #ffffff;;
}
.nav_link_footer:active:after{
    background-color: #5c6bc0;
}
.footer__text {
    max-width: 766px;
    width: 100%;
    font-size: 13px;
    line-height: 23px;
    color: #9ba5d8;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 70px 0 0 calc(30% - 170px);
    position: relative;
}
.footer__text:before{
    content: '';
    left: 2%;
    height: 3px;
    right: 2%;
    top: -38px;
    background-color: #5664b4;
    position: absolute;
}
.footer__text:after{
    content: '';
    left: 10%;
    height: 2px;
    right: 10%;
    bottom: -40px;
    background-color: #5664b4;
    position: absolute;
}
.footer__text_inf{
    font-size: 14px;
    line-height: 30px;
    color: #9da6d9;
    font-family: 'Lato', sans-serif;
    margin: 71px 0 0 31%; 
    letter-spacing: 0.1px;
}
.footer__text_link{
    cursor: default;
    color: #ffffff;
    position: relative;
}
.footer__text_link:hover:after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -1px;
    height: 1px;
    background-color: #ffffff;
}
.social_bar{
    position: absolute;
    list-style: none;
    margin-left: 40%;
    margin-top: 35px;
    padding: 0px;
}

.social_item{
    display: inline-block;
    margin-left: 20px;
}
.social_item:first-child{
    margin-left: 13px;
}
.social_box{
    height: 33px;
    width: 33px;
}
.social_box:hover{
    background-color: #5360ac;
}
.facebook{
    background-image: url('../images/facebook.png');
    background-repeat: no-repeat;
    background-position:center;
}
.twitter{
    background-image: url('../images/twitter.png');
    background-repeat: no-repeat;
    background-position:center;
}
.instagram{
    background-image: url('../images/instagram.png');
    background-repeat: no-repeat;
    background-position:center;
}
.pinterest{
    background-image: url('../images/pinterest.png');
    background-repeat: no-repeat;
    background-position:center;
}
.img_observe{
    display: block;
    max-width: 100%;
    height: auto;
}
.contact__form_title{
    position: relative;
    font-size: 40px;
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: 50px 0 0 97px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.contact__form_content{
    padding-bottom: 42px;
    border-bottom: 2px solid #eeeeee;
    margin-top: 48px;
}


input, textarea {
    padding: 14px 0 11px 20px;
    margin: 12px 0 18px 20px;
    width: 100%;
    font-size: 17px;
    line-height: 11px;
    background-color: #f7f9fb;
    border: none;
    color: #bcbdbf;
}
.form_inf{
    max-width: 340px;
}
.contact__form{
    margin: 30px 0 0 70px;
}
.form_text{
    max-width: 725px;
}
.link_send{
    width: 176px;
    margin: 10px 55px;
}
@media screen and (max-width: 1020px){
    .category{
        position: absolute;
        margin-top: 0;
        padding: 5px 5px 0 6px;
    }
    .category_travel{
        margin-left: calc(100% - 90px);
        width: 66px;
    }
    .category_observe{
        margin-left: calc(100% - 107px);
        width: 81px;
    }
    .category_reflect {
        margin-left: calc(100% - 102px);
        width: 75px;
    }
    .category:hover{
       padding: 5px 5px 0 6px;
    }
    .nav_bar-com{
        display: none;
    }
    .footer__text{
        max-width: 550px;
        width: 80%;
        margin-left: calc(10% + 10px);
    }
    .footer__text_inf{
        margin-left: calc(65% - 250px);
        max-width: 320px;
        width: 100%;
    }
    .data_post {
    max-width: 400px;
    width: 100%;
    margin-top: 10px;
}

.title_post:after{
    max-width: 300px;
    width: 100%;
}
.hashtags_post {
    float: none;
    width: 200px;
    padding: 20px 0 10px 24px;
}
.post_footer {
    position: relative;
    margin: 45px 97px 0 65px;
    max-width: 300px;
    width: 100%;
}
.nav_bar_footer{
    margin-left: calc(33% - 100px);
}
.nav_footer_item:last-child{
    display: none;
}
.nav_footer_item:nth-child(3) {
    margin-left: 10px;
}
.form_inf {
    width: 65%;
}
.form_text {
    width: 65%;
}

.contact__form_title{
   max-width: 400px; 
}
}

@media screen and (max-width: 480px){
    .title_post {
    margin-left: 55px;
    
}
    .post__content{
    margin-left: 50px;
    
    }
    .read-more__link{
       margin-left: -45px; 
    }
    .hashtags_post{
        margin-left: -40px;
    }
    .img__footer {
    margin-left: calc(90% - 240px);
    }
.nav_footer_item:last-child{
    display: none;
}
    .nav_footer_item:nth-child(3) {
    margin-left: 10px;
}
.nav_footer_item:nth-child(4) {
    margin-left: 10px;
}
.footer__text_inf {
    margin-left: calc(100% - 350px);
    max-width: 320px;
    width: 100%;
}
.social_bar {
    margin-left: 15%;
}
.link_send{
    margin-left: 20px;
}
.contact__form{
    margin-left: 20px;
}
.contact__form_title {
    margin-left: 40px;
}
}

@media screen and (max-width: 350px){
    .title_post {
    margin-left: 25px;
    }
    .post__content{
    margin-left: 24px;
    }
    .read-more__link{
       margin-left: -70px; 
    }
    .hashtags_post{
        margin-left: -65px;
    }
    .img__footer {
    margin-left: calc(90% - 210px);
    }
    .nav_footer_item:last-child{
    display: none;
}
    .nav_footer_item:nth-child(3) {
    margin-left: 10px;
}
.nav_footer_item:nth-child(4) {
    margin-left: 10px;
}
.footer__text_inf {
    margin-left: calc(100% - 250px);
    max-width: 220px;
    width: 100%;
}
.social_bar {
    margin-left: 15%;
}
.form_text {
    max-width: 710px;
}
.contact__form_title{
    max-width: 300px;
    margin-left: 25px;
}
.contact__form{
    margin-left: 20px;
}
.link_send{
    margin-left: 24px;
}
.contact__form_title {
    margin-left: 25px;
}

}

