        <header class="header">
            <a class="title">
                <img src="../images/Palo Alto.png" alt=""/>
            </a>
            
            <ul class="nav_bar nav_bar-com">
                <li class="nav_item" >
                    <a class="nav_link " href="index.html">home</a>
                </li>
                <li class="nav_item">
                    <a class="nav_link">About</a>
                </li>
                <li class="nav_item">
                    <a class="nav_link">archive</a>
                </li>
                <li class="nav_item">
                    <a class="nav_link" href="page_contact.html">contact</a>
                </li>
                <li class="nav_item">
                    <div class="search"></div>
                </li>
            </ul>
        </header>